<ion-header>

  <ion-navbar>
    <ion-title>Products</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="filter($event)"></ion-searchbar>
  <ion-list>
    <ion-item-divider color="primary">Single Burner</ion-item-divider>
    <div *ngFor="let p of filteredProducts">
      <button ion-item *ngIf="p.subtype=='Single'" (click)="onEdit(p.$key)">
        {{p.id}}
      </button>
    </div>

    <ion-item-divider color="primary">Double Burner</ion-item-divider>
    <div *ngFor="let p of filteredProducts">
      <button ion-item *ngIf="p.subtype=='Double'" (click)="onEdit(p.$key)">
        {{p.id}}
      </button>
    </div>
    <ion-item-divider color="primary">Triple Burner</ion-item-divider>
    <div *ngFor="let p of filteredProducts">
      <button ion-item *ngIf="p.subtype=='Triple'" (click)="onEdit(p.$key)">
        {{p.id}}
      </button>
    </div>
    <ion-item-divider color="primary">Four Burner</ion-item-divider>
    <div *ngFor="let p of filteredProducts">
      <button ion-item *ngIf="p.subtype=='Four'" (click)="onEdit(p.$key)">
        {{p.id}}
      </button>
    </div>
  </ion-list>
</ion-content>
